.row {
  height: 12.5%;
}

.board {
  width: 40rem;
  height: 40rem;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1000px) {
  .board {
    max-width: 93vh;
    max-height: 93vh;
    width: 93vw;
    height: 93vw;
  }
}


